[submodule "externals/opencv"]
	path = externals/opencv
	url = https://github.com/opencv/opencv

[submodule "externals/opencv_contrib"]
	path = externals/opencv_contrib
	url = https://github.com/opencv/opencv_contrib